QWidget {
        font: 800 14pt;
        font-family: roboto/Roboto-BoldItalic;
        background-color: #BAFF8F;
}

QLabel{
        background-color: #8FFF9C;
}

QLineEdit{
        background-color: #EDFBE4;
}